body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3C4858;
}

.img-gestãoAtivos {
    background-image: url(./img/fundo-GestãoAtivos.jpg);
    background-position: top;
    background-size: 100% 100%;
    height: 270px;
    background-repeat: no-repeat;
}

.title-gestãoAtivos {
    width: 60%;
    height: 35px;
    background: #f27a1f;
    color: white;
    margin: 0 auto; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em 0;
    border-radius:  0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.apresentação-gestãoAtivos, .list-gestãoAtivos, .texto-gestãoAtivos {
    margin: 2em 1em 1.5em 1em;
    line-height: 1.618;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
}

.itens-gestãoAtivos {
    margin: 1.5em 0;
}
.texto-itemgestãoAtivos {
    font-size: 16px;
    color: #f27a1f;
    margin: 0;
}

.img-automatos, .img-Auto {
    width: 90%;
    margin: 0 auto;
}

.separador-rodape {
    height: 2px;
    max-width: 150px;
    color: #eee;
    background-color: #eee;
    border: none;
    margin-bottom: 3em;
}